<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{url_for('static', filename='file_template.css')}}">
  <style>
    .stackPaper{
      position: absolute;
      top: 150px;
      right: 300px;
    }
  </style>
  </head>
  <body>
    <div class="folder">
      <div class="folder-left">
        <div class="paper">
          <div id="p1" class="paper-content">
            <div class="container-baseline">
                <h1>The NYC Subway Slasher </h1>  
              <p><b>Synopsis: </b> 
               The NYC Subway Slasher case involved a series of brutal attacks on innocent victims in the subway system. The suspect, later identified as Jason Roberts, targeted women during rush hours, slashing their legs with a sharp object. The attacks left the victims traumatized and caused panic among commuters. Law enforcement obtained crucial evidence, including surveillance footage capturing the suspect's attire, but his face remained hidden. Eyewitness accounts and victim identifications played a pivotal role in connecting Roberts to the crimes. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="folder-right">
        <div class="paper">
          <div id="p2" class="paper-content">
            <h1>Crime</h1>
            <h1>&& Thriller</h1>
            <br />
            <!-- Use <br> to move to the next line -->

            <div class="container-center">
              <img
                src="../static/images/knife.jpeg"
                width="300"
                height="300"
              />
              <div class="stackPaper">
                <p>
                    <b>Hint:</b>
                    <br>Pay attention to</br>
                    the clues! 
                </p>
              </div>
            </div>
            <a href = "{{url_for('crime_scene_mta')}}">
                <button id="continue" class="continue">
                Continue 
        </button>
    </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>