<!DOCTYPE html>
<html>
<head>
    <title>
        Interrogation - Investigators Onsite
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='listen_temp.css')}}">

</head>
<body>
    <div class="listen-screen">
        <img src="{{url_for('static', filename='images/mta_interrogate.jpeg')}}" alt="Game Image" width="100%" height="515">
    </div>
    <div class="text-box" onclick="changeText(dialogue)">
        Currently Jason Roberts is being interrogated by Officer Hazard. Click box to see conversation.
    </div>
    <a href = "{{url_for('interrogate_mta')}}">
        <button id="continue">
            Continue 
        </button>
    </a>
    <script src="{{url_for('static', filename='listen_temp.js')}}"></script>
    <script>
        dialogue = [
        "<span></span> The relentless efforts of the detectives paid off as they pieced together video footage from multiple subway stations, capturing the suspect's attire during the attacks, though his face remained elusive. Analyzing the distinct clothing he wore, they diligently tracked his movements across different stations, narrowing down potential leads. Armed with this crucial evidence, they successfully located and apprehended the suspect, bringing him in for interrogation to uncover the truth behind the chilling subway slashings.", 
        "<span class='blue-text'>Officer Hazard:</span> Keep your eyes on him at all times. We can't risk any sudden moves.",
        "<span class ='red-text'>Jason Roberts:</span> What's this all about?",
        "<span class='blue-text'>Officer Hazard:</span> We have substantial evidence connecting you to the subway slashings.",
        "<span class ='red-text'>Jason Roberts:</span> I've got nothing to do with that!",
        "<span class='blue-text'>Officer Hazard:</span> (sternly) Enough with the denials. The evidence speaks for itself - eyewitnesses, surveillance footage, and your clothing. It's time to come clean. Tell us everything.",
        "<span class ='red-text'>Jason Roberts:</span> I don't know what you are talking about",
        "<span class='green-text'>Detective Reid:</span> Save the act. It's all over for you. Start talking.",
        ]
    </script>
</body>
</html>