<!DOCTYPE html>
<html>
<head>
    <title>
        Interrogation - Investigators Onsite
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='listen_temp.css')}}">

</head>
<body>
    <div class="listen-screen">
        <img src="{{url_for('static', filename='images/random_interrogate.jpg')}}" alt="Game Image" width="100%" height="515">
    </div>
    <div class="text-box" onclick="changeText(dialogue_bad)">
        Think about the court case. Click box to see conversation.
    </div>
    <a href = "{{url_for('homicide')}}">
        <button id="continue">
            Continue 
        </button>
    </a>
    <script src="{{url_for('static', filename='listen_temp.js')}}"></script>
    <script>
        dialogue_bad = [
        "<span class='blue-text'>Detective Reid:</span>  It's been two days since Ronald Faraday was convicted for the murder of his wife Becky Faraday.", 
        "image about blood trails",
        "<span class='blue-text'>Detective Reid:</span> They brought Officer Hazard in to talk about the missing blood trail photos, something about the camera malfunctioning. According to him, the Blue Star revealed a blood trail from the kitchen, through the hallway, onto the stairs.",
        "image about slippers",
        "<span class='blue-text'>Detective Reid:</span> That combined with Ronald's bloody slippers that the police found in his closet with the victim's blood on it was more than enough to convict him.",
        "cuts to Patricia",
        "<span class='blue-text'>Detective Reid:</span>  And to even further his guilt was the testimony of Becky Faraday's close friend, Patricia Hollinger.",
        "Flashback to Patricia Hollinger's testimony. <br> <span class='green-text'>Prosecution Lawyer Ashley:</span> Ms.Hollinger, you and Becky Faraday were close friends, is that correct?",
        "<span class='red-text'>Patricia Hollinger:</span>  Yes. We became acquainted through work, but became close friends when she was going through chemotherapy. I went to all of her chemo sessions for support. ",
        "<span class='green-text'>Prosecution Lawyer Ashley:</span> You were so close in fact that she ended up signing over her life insurance to you, is that right?",
        "<span class='red-text'>Patricia Hollinger:</span> Absolutely correct. Yes.",
        "<span class='green-text'>Prosecution Lawyer Ashley:</span> Why would she sign over her life insurance to you instead of leaving it with her husband Ronald Faraday?",
        "<span class='red-text'>Patricia Hollinger:</span>  Unfortunately, she often complained about not being completely happy at home. She would fight with Ronald a lot because of his short temper. I would say he is abusive.",
        "<span class='blue-text'>Detective Reid:</span> Ms. Hollinger revealed to the court of Ronald's abusive behavior towards his wife, and with that his fate was truly sealed.  I must admit that something about her demeanor did put me off, but it's our job to do whatever it takes to put horrid men like Mr. Faraday behind bars. Just another job done by Detective Reid. I think I deserve a coffee after this one."
        ];
    </script>
</body>
</html>