<!DOCTYPE html>
<html>
<head>
    <title>
        Interrogation - Investigators Onsite
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='listen_temp.css')}}">

</head>
<body>
    <div class="listen-screen">
        <img src="{{url_for('static', filename='images/court.jpeg')}}" alt="Game Image" width="100%" height="515">
    </div>
    <div class="text-box" onclick="changeText(dialogue_good)">
        After the court case. Click box to see thoughts.
    </div>
    <a href = "{{url_for('hom_file_2')}}">
        <button id="continue">
            Continue 
        </button>
    </a>
    <script src="{{url_for('static', filename='listen_temp.js')}}"></script>
    <script>
        dialogue_good = [
        "<span class='blue-text'>Detective Reid:</span>  It's been two days since Ronald Faraday was convicted for the murder of his wife Becky Faraday, but something about that trial bothers me.", 
        "<span class='blue-text'>Detective Reid:</span> They brought Officer Hazard in to talk about the missing blood trail photos, something about the camera malfunctioning. According to him, the Blue Star revealed a blood trail from the kitchen, through the hallway, onto the stairs.",
        "<span class='blue-text'>Detective Reid:</span> But if the camera truly wasn't working at the time, why couldn't they wait for a replacement? Why go to court empty handed?",
        "<span class='blue-text'>Detective Reid:</span> Then they brought up Ronald's bloody slippers. Police found them in the closet with the victim's blood on it.",
        "<span class='blue-text'>Detective Reid:</span> Yet there were no footprints to be found, and I doubt he was given enough time to do a thorough cleaning. And how the hell could he get blood on his slippers, but the rest of his clothes remained clean. The same clothes he was in fact wearing when last seen on those gas station cameras.",
        "<span class='blue-text'>Detective Reid:</span> Finally there was the testimony of Becky Faraday's close friend, Patricia Hollinger.",
        "Flashback to Patricia Hollinger's testimony: <br> <span class='green-text'>Prosecution Lawyer Ashley:</span> Ms.Hollinger, you and Becky Faraday were close friends, is that correct?",
        "<span class='red-text'>Patricia Hollinger:</span>  Yes. We became acquainted through work, but became close friends when she was going through chemotherapy. I went to all of her chemo sessions for support. ",
        "<span class='green-text'>Prosecution Lawyer Ashley:</span> You were so close in fact that she ended up signing over her life insurance to you, is that right?",
        "<span class='red-text'>Patricia Hollinger:</span> Absolutely correct. Yes.",
        "<span class='green-text'>Prosecution Lawyer Ashley:</span> Why would she sign over her life insurance to you instead of leaving it with her husband Ronald Faraday?",
        "<span class='red-text'>Patricia Hollinger:</span>  Unfortunately, she often complained about not being completely happy at home. She would fight with Ronald a lot because of his short temper. I would say he is abusive.",
        "<span style=color:purple;> <b>Ronald's Defense Attorney Lawyer Schultz:</b></span> You have made it clear that you were close with my client's wife and that you cared for her family. So why has it taken you so long to give some of that life insurance money to help support her kids? ",
        "<span class='red-text'>Patricia Hollinger:</span> Jeez. It really hurts my feelings that everyone is suspicious of me because of money. I didn't put a gun to her head and make her fill out the life insurance form. I'll have you know that I have been dealing with a lot especially since my mother recently died of Alzheimers.",
        "<span class='blue-text'>Detective Reid:</span> Now while Ms. Hollinger could have been telling the truth about Ronald and his behavior towards his wife, she also did seem to be making excuses as to why she couldn't give that money to Mrs. Faraday's kids. But I mean who would lie about their own mother's death, right?",
        "<span class='blue-text'>Detective Reid:</span> Something still bugs me though. I can't help but feel like those photos from the Bluestar would have been essential. Also I have a feeling that Patricia Hollinger knows more than she's letting on.",
        "<span class='blue-text'>Detective Reid:</span>  I should get in contact with Ronald's lawyer, he might have more info on what's happened with his client's case."
        ];
    </script>
</body>
</html>