<!DOCTYPE html>
<html>
<head>
    <title>
        Crime Scene - Investigators Onsite
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='crime_scene_temp.css')}}">
    <style>
        #ev1{
            position: absolute;
            left: 270px;
            bottom: 300px;
        }
        #ev2{
            position: absolute;
            right: 550px;
            bottom: 300px;
        }
        #ev4{
            position: absolute;
            right: 570px;
            bottom: 260px;
        }
        #ev5{
            position: absolute;
            left: 170px;
            bottom: 275px;
        }
    </style>
</head>
<body>
    <body>
        <div class="crime-screen">
            <img src="{{url_for('static', filename='images/hallway_dark.jpeg')}}" alt="Game Image1" id="image1" width="100%" height="515">
            <img src="{{url_for('static', filename='images/kitchen_dark.jpeg')}}" alt="Game Image2" id="image2" style="display:none;" width="100%" height="515">
            <img src="{{url_for('static', filename='images/bedroom_dark.jpeg')}}" alt="Game Image3" id="image3" style="display:none;" width="100%" height="515">

            <button id="up" onclick="display_image_3()"> ^ </button>
            <button id="right" onclick="display_image_2()"> >> </button>
            <button id="down" onclick="display_image_1()"> v </button>
            <button id="left" onclick="display_image_1()"> << </button>

            <button id="ev1" onclick="display_info(ev1)">
                <img src = "{{url_for('static', filename='/images/officer.png')}}" alt="evidence_1" width="300px" height="200px">
            </button>
            <button id="ev2" onclick="display_info(ev2)">
                <img src = "{{url_for('static', filename='images/blood_splatter.png')}}" alt="evidence_2" width="100px" height="100px">
            </button>

            <button id="ev3" onclick="display_info(ev3)" class="hidden">
                <img src = "{{url_for('static', filename='images/body_outline.png')}}" alt="evidence_3" width="100px" height="100px">
            </button>
            <button id="ev4" onclick="display_info(ev4)">
                <img src = "{{url_for('static', filename='images/body_outline.png')}}" alt="evidence_4" width="400px" height="50px">
            </button>

            <button id="ev5" onclick="display_info(ev5)">
                <img src = "{{url_for('static', filename='images/slippers.png')}}" alt="evidence_5" width="100px" height="100px">
            </button>
            <button id="ev6" onclick="display_info(ev6)" class="hidden">
                <img src = "{{url_for('static', filename='images/blood_splatter.png')}}" alt="evidence_6" width="100px" height="100px">
            </button>

        </div>
        <div class="info-box">
            In Ronald Faraday's house. Click on evidence to get more information.
        </div>

        <a href = "{{url_for('hom_listen_1')}}">
            <button id="continue">
                Continue 
            </button>
        </a>
        
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script src="{{url_for('static', filename='crime_scene_temp.js')}}"></script>
    <script>
        found_3 = true;
        found_6 = true;
        let info_list = [
            "<span class='blue-text'>Detective Reid:</span> Excuse me officer. Do you have any information on Mr.Faraday's whereabouts tonight that you can share with me? <br> <span class='green-text'>Officer Johnson:</span> Yea. Here's a copy of the flashdrive with security camera footage from two gas stations. You can see Ronald Faraday in a bright orange <em>I Love Rhode Island</em> T-Shirt at those gas stations. <br> <span class='blue-text'>Detective Reid:</span> So he stopped by 2 gas stations huh? Okay, thanks for the help.",
            "Officers reported that Bluestar* revealed invisible blood traces here. The trail goes from the kitchen, into the hallway, and points up the stairs towards the bedroom. <br> <br> *Bluestar - a blood reagent that makes blood trails/remains visible to the human eye ", 
            "",
            "Becky Faraday's body was found here. She had been stabbed a total of 55 times. Reports conclude that Becky Faraday's wrists weren't just slashed. The knife had been driven all the way to the bone. It had sliced into her skull, plunged into her left eye, and lacerated her throat, bursting the right carotid artery.",
            "Ronald Faraday's bloody slippers. These slippers have Becky's blood on them. This evidence is clearly poorly hidden.",
        ];
    </script>

</body>
</html>