<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Investigators Onsite</title>
    <link rel="stylesheet" href="{{url_for('static', filename='file_template.css')}}">
  </head>
  <body>
    <div class="folder">
      <div class="folder-left">
        <div class="paper">
          <div id="p1" class="paper-content">
            <div class="container-title">
                <h2> The Murder of Becky Faraday</h2>
            </div>
            <div class="container-summary">
                <p> &emsp; 911 Operators recieved a call from Ronald Faraday reporting his wife, Becky Faraday's, dead body. The transcript is added below. 
                    When officers arrived on the scene, they found Becky Faraday's body it was cold and stiff with blood coagulated on her scalp, 
                    dried hard on her wrists, but still wet in the deeper pools. A fire captain and an EMS supervisor both concluded that she had died more than an hour earlier. 
                    An overview of the evidence found so far is attached.
                </p>
            </div>
            <div>
                <b>911 Call Transcript:</b>
                <ul>
                    <li> 911 Operator: 911 what's your emergency? </li>
                    <li> Ronald Faraday: “My wife killed herself” </li>
                    <li> 911: Where are you? </li>
                    <li> RF: “I am at home in XXX address” </li>
                    <li> 911: What is your name? </li>
                    <li> RF: Ronald Faraday </li>
                    <li> 911: Tell me exactly what happened. </li>
                    <li> RF: “I came home and she and she…my God, oh my God, oh my God. What do I do? ” </li>
                    <li> 911: Try to remain calm. Help is on the way. </li>
                </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="folder-right">
        <div class="paper">
          <div id="p2" class="paper-content">
            <div class="container-center" style="height:50%">
                <div>
                    <img
                    src="{{url_for('static', filename='images/slippersPoloraid.png')}}"
                    width="200"
                    height="200">
                </div>
                <div class="stackPaper">
                    <p>camera malfunctioned so the crime scene photos did not develop</p>
                  </div>
             </div>
              
          </div>
        </div>
      </div>
      <a href = "{{url_for('hom_crime_1')}}">
        <button class="continue">
            Continue 
        </button>
    </a>
    </div>
</body>
</html>