{% extends "statistics_temp.html" %}
{% block content %}
  <div class="container">
    <div class="box box-top-center">
      <p>Here are the most common crimes in your area</p>
    </div>

    <div class="box box-left">
      <p>This case was based on INSERT CASE</p>
      <p>Link: www.example.com</p>
      <!-- The image container -->
      <div class="image-container">
        <img src="{{url_for('static', filename='images/mascott.jpg')}}" alt="Image">
      </div>
    </div>

    <div class="box box-right">
      <p>How to prevent xx crime</p>
      <p>How to prevent xx crime</p>
      <p>How to prevent xx crime</p>
      <p>How to prevent xx crime</p>
      <p>How to prevent xx crime</p>
      <p>How to prevent xx crime</p>
      <p>How to prevent xx crime</p>
      <p>Hotlines</p>
    </div>

    <a href="https://example.com/level-select" class="box box-left box-bottom-left">
      <p style="margin: 0; display: flex; justify-content: center; align-items: center;">Level Select</p>
    </a>

    <a href="{{url_for('home')}}" class="box box-right box-bottom-right">
      <p style="margin: 0; display: flex; justify-content: center; align-items: center;">Home</p>
    </a>
{% endblock content %}