* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: sans-serif;
    background-color: #2C3333;
}

p {
    font-family: 'IBM Plex Mono', monospace;
    text-align: left;
    padding: 10px 18px;
}

/* Book */
.book {
    position: relative;
    width: 350px;
    height: 500px;
    transition: transform 0.5s;
}

.paper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    perspective: 1500px;

}

.front,
.back {
    background-color: rgb(222,210,157);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform-origin: left;
    transition: transform 0.5s;
}

.front {
    z-index: 1;
    backface-visibility: hidden;
    border-radius:0 8px 8px 0;
    border-left: 5px solid rgb(178, 168, 126);
}

.back {
    z-index: 0;
    border-radius:0 8px 8px 0;
}

.front-content,
.back-content {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.back-content {
    transform: rotateY(180deg)
}

/* Paper flip effect */
.flipped .front,
.flipped .back {
    transform: rotateY(-180deg);
}

/* Controller Buttons */
button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin: 10px;
    transition: transform 0.5s;
}

button:focus {
    outline: none;
}

button:hover i {
    color: #636363;
}

i {
    font-size: 50px;
    color: gray;
}

.button-2, .button-3 {
    position: relative;
    background-color: rgb(133, 131, 104);
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 400;
    padding: 10px 30px;
    transition: 0.5s;
    border-radius: 18px;
}
.button-2:hover, .button-3:hover {
    background: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

/* Paper stack order */
#p1 {
    z-index: 6;
}

#p2 {
    z-index: 5;
}

#p3 {
    z-index: 4;
}

#p4 {
    z-index: 3;
}

#p5 {
    z-index: 2;
}

#p6 {
    z-index: 1;
}
