<!DOCTYPE html>
<html>
<head>
    <title>
        Crime Scene - Investigators Onsite
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='crime_scene_temp.css')}}">
    <style>
        #ev1{
            position:absolute;
            left: 250px;
            top: 300px;
        }
        #ev2{
            position:absolute;
            right: 200px;
            top: 320px;
        }
    </style>
</head>
<body>
    <body>
        <div class="crime-screen">
            <img src="{{url_for('static', filename='images/bank (1).png')}}" alt="Game Image1" id="image1" width="100%" height="515">
            <img src="{{url_for('static', filename='images/scene.jpg')}}" alt="Game Image2" id="image2" style="display:none;" width="100%" height="515">
            <img src="{{url_for('static', filename='images/anotherr.jpg')}}" alt="Game Image3" id="image3" style="display:none;" width="100%" height="515">

            <button id="up" onclick="display_image_3()"> ^ </button>
            <button id="right" onclick="display_image_2()"> >> </button>
            <button id="down" onclick="display_image_1()"> v </button>
            <button id="left" onclick="display_image_1()"> << </button>

            <button id="ev1" onclick="display_info(ev1)">
                <img src = "{{url_for('static', filename='/images/cd.png')}}" alt="evidence_1" width="100px" height="100px">
            </button>
            <button id="ev2" onclick="display_info(ev2)">
                <img src = "{{url_for('static', filename='images/crime.jpg')}}" alt="evidence_2" width="100px" height="100px">
            </button>

            <button id="ev3" onclick="display_info(ev3)">
                <img src = "{{url_for('static', filename='images/cords.png')}}" alt="evidence_3" width="100px" height="100px">
            </button>
            <button id="ev4" onclick="display_info(ev4)">
                <img src = "{{url_for('static', filename='images/email.jpg')}}" alt="evidence_4" width="100px" height="100px">
            </button>

            <button id="ev5" onclick="display_info(ev5)">
                <img src = "{{url_for('static', filename='images/computer.jpg')}}" alt="evidence_5" width="100px" height="100px">
            </button>
            <button id="ev6" onclick="display_info(ev6)">
                <img src = "{{url_for('static', filename='images/usb.jpg')}}" alt="evidence_6" width="100px" height="100px">
            </button>

        </div>
        <div class="info-box">
            Click on evidence to get more information.
        </div>
        <a href = "{{url_for('cyber_listen')}}">
            <button id="continue">
                Continue 
            </button>
        </a>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script src="{{url_for('static', filename='crime_scene_temp.js')}}"></script>
    <script>

        let info_list = [
            "CDs/DVDs found at the scene contained malware or stolen data used in the cybercrime.",
            "Physical devices, such as computers, servers, routers, or other network equipment, found at the scene show signs of malware infections, unusual software, or unauthorized modifications.",
            "Inspecting these network cables and connections revealed that unauthorized devices were attached and there were attempts to tamper with the network infrastructure.",
            "This was the email that was sent to one of the bank's employee that allowed the suspect acess to the bank's system",
            "Information, such as attack plans, login credentials, or communication details related to the cybercrime was found on this computer ",
            "Contains footage that captured suspicious individuals or activities related to the cybercrime.",
            
        ];
    </script>

</body>
</html>