<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='file_template.css')}}">
    <style> 
    .stackPaper{
      position: absolute;
      top: 150px;
      right: 300px;
    }
    </style>
  </head>
  <body>
    <div class="folder">
      <div class="folder-left">
        <div class="paper">
          <div id="p1" class="paper-content">
            <div class="container-baseline">
                <h1>The Carbanak Bank Heist </h1>  
              <p><b>Summary: </b> 
The Carbanak bank heist was a large-scale cybercrime operation that targeted financial institutions worldwide. The cybercriminals behind the attack, believed to be a sophisticated American and European hacking group, used advanced malware called Carbanak to infiltrate banks' systems. They gained access through spear-phishing emails, and once inside, they conducted surveillance, stole sensitive data, and manipulated internal banking processes to transfer huge sums of money from various accounts, resulting in losses amounting to hundreds of millions of dollars. </p>
            </div>
          </div>
        </div>
      </div>
      <div class="folder-right">
        <div class="paper">
          <div id="p2" class="paper-content">
            <h1>Mystery</h1>
            <h1>&& Thriller</h1>
            <br />
            <!-- Use <br> to move to the next line -->

            <div class="container-center">
              <img
                src="../static/images/cyberfile.png"
                width="300"
                height="300"
              />
              <div class="stackPaper">
                <p>
                    <b>Hint:</b>
                    <br>Follow The</br>
                    Evidence Trail! 
                </p>
              </div>
            </div>
            <a href = "{{url_for('cyber_crime_scene')}}">
                <button id="continue" class="continue">
                Continue 
        </button>
    </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>