
<!DOCTYPE html>
<html>
<head>
    <title>
        Crime Scene - Investigators Onsite
    </title>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='crime_scene_temp.css')}}">

</head>
<body>
    <body>
        <div class="crime-screen">
            <img src="{{url_for('static', filename='images/emptyChurch.jpg')}}" alt="Game Image1" id="image1" width="100%" height="515">
            <img src="{{url_for('static', filename='images/kitchen_dark.jpeg')}}" alt="Game Image2" id="image2" style="display:none;" width="100%" height="515">
            <img src="{{url_for('static', filename='images/forest.jpg')}}" alt="Game Image3" id="image3" style="display:none;" width="100%" height="515">

            <button id="up" onclick="display_image_3()"> ^ </button>
            <button id="right" onclick="display_image_2()"> >> </button>
            <button id="down" onclick="display_image_1()"> v </button>
            <button id="left" onclick="display_image_1()"> << </button>

            <button id="ev1" onclick="display_info(ev1)">
                <img src = "{{url_for('static', filename='/images/car.png')}}" alt="evidence_1" width="100px" height="100px">
            </button>
            <button id="ev2" onclick="display_info(ev2)" style="display: none;" class="hidden" >
                <img src = "{{url_for('static', filename='images/blood_splatter.png')}}" alt="evidence_2" width="100px" height="100px">
            </button>

            <button id="ev3" onclick="display_info(ev3)" style="display: none;" class="hidden" >
                <img src = "{{url_for('static', filename='images/body_outline.jpeg')}}" alt="evidence_3" width="100px" height="100px">
            </button>
            <button id="ev4" onclick="display_info(ev4)" style="display: none;" class="hidden" >
                <img src = "{{url_for('static', filename='images/blood_splatter.png')}}" alt="evidence_4" width="100px" height="100px">
            </button>

            <button id="ev5" onclick="display_info(ev5)" style="display: none;" class="hidden">
                <img src = "{{url_for('static', filename='images/body_outline.jpeg')}}" alt="evidence_5" width="100px" height="100px">
            </button>
            <button id="ev6" onclick="display_info(ev6)">
                <img src = "{{url_for('static', filename='images/spookedMan.png')}}" alt="evidence_6" width="100px" height="100px">
            </button>

        </div>
        <div class="info-box">
            Click on evidence to get more information.
        </div>
        <a href="{{url_for('bug_int')}}">
        <button id="continue">
            Continue
        </button>
    </a>
    <script src="{{url_for('static', filename='main.js')}}"></script>
    <script src="{{url_for('static', filename='crime_scene_temp.js')}}"></script>
    <script>
        found_1 = false;
        found_2 = true;
        found_3 = true;
        found_4 = true;
        found_5 = true;
        found_6 = false;
        let info_list = [
            "A suspiciously parked car outside a local church during an unusual time when the church is closed.",
            "", 
            "",
            "",
            "",
            "IT'S A SUSPICOUS MAN, COULD IT BE HIM, GET HIM BOYS",
        ];
    </script>

</body>
</html>