.container {
    margin-top: 3%;
    display: flex;
    /* align-items: center; */
}
.interrogation-screen {
    margin-right: 1%;
    width: 60%;
    height: 50%;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}
.talk-box {
    margin-right: 0.5%;
    height: 500px; 
    overflow-y: auto;
    padding: 10px;
    border: 2px solid #A5C9CA;
    border-radius: 5px;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
    background-color: #65799B; 
}
.message {
    display: flex;
    border-radius: 8px;
}
.heard {
    /* float: left; */
    display: flex;
    text-align: left;
    justify-content: flex-start;
    /* background-color: #fd9ea4; */
}
.stylish_heard {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    background-color: #fd9ea4;
    border-radius: 5px;
}
.said {
    /* float: right; */
    display: flex;
    text-align: right;
    justify-content: flex-end;
    /* background-color: rgb(122, 153, 245); */
}
.stylish_said {
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px;
    background-color: rgb(122, 153, 245);
    border-radius: 5px;
}
.button-container{
    margin: 0px;
}
.option-button {
    padding: 8px 16px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #65799B; 
    transition: background-color 0.2s ease;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none;
}
.option-button:hover {
    cursor: pointer;
    background-color: #f0f0f0;
}
#fortywidth{
    width: 40%;
}

#continue{
    background-color: #1864f3;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    right: 500px;
    bottom: 175px;
    color: rgb(238, 233, 233);
    display: none;
}
#continue:hover{
    background-color: #a50000;
    cursor: pointer;
}