body{
    background-color: #263859;
}
.blue-text {
    color : rgb(16, 12, 248);
    font-weight: bold;
}
.red-text {
    color : #a50000;
    font-weight: bold;
}
.green-text {
    color : #04bf90;
    font-weight: bold;
}