<!DOCTYPE html>
<html lang="en">
<head>
    <title> Investigators Onsite </title>
    <!-- <script src="{{ url_for('static', filename='script.js') }}"></script> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&
    family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/
    css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/
    E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" type= "text/css" href="{{ url_for('static',filename='styles.css') }}">

</head>
<body>
    <section class="hero">
        <div class="main-width">
            <header>
                <div class="logo">
                    <h2><a href="#">GameOn</a></h2>
                </div>

                <nav>
                    <u1>
                        <li class="navli"><a href="active">Games</a></li>
                        <li class="navli"><a href="#">Reviews</a></li>
                        <li class="navli"><a href="#">Faq</a></li>
                        <li class="navli"><a href="#">Chat</a></li>
                        <li class="navli"><a class="download" href="btn">Download</a></li>
                    </u1>
                </nav>
            </header>
            <div class="content">
                <div class="main-text">
                    <h6>#1 Trending Game</h6>
                    <!-- <h3>Epic Games</h3> -->
                    <h1>Investigators <br> OnSite</h1>
                    <p>Welcome to Investigators Onsite! Here, you will investigate real-life crimes, while also learning valuable information
                        about how to protect yourself and the people around you.
                    </p>
                    <!-- <a href="#">Play Now</a> -->
                    <a href="#" class="cta" id="myBtn"><i class="fa-solid fa-play"></i>Play Now</a>
                    <!-- <h3>Enter your Zipcode:</h3>
                    <input type="text" id="zipcode-input" placeholder="Enter your zipcode"> -->
                    <!-- <button onclick="saveZipcode()">Submit</button> -->
                    <!-- <button onclick="getElementById('zipcode-input').value">Submit</button> -->
                    <!-- Name:<input type="text" id="myText" placeholder="Enter your zipcode">
                    <button type="button" onclick="myFunction()">Try it</button>
                    <p id="demo"></p> -->
                    <!-- Trigger/Open The Modal -->
                    <!-- <button id="myBtn">Open Modal</button> -->
                    <!-- The Modal -->
                    <div id="myModal" class="modal">
                        <!-- Modal content -->
                        <div class="modal-content">
                            <form action="/">
                                <span class="close">&times;</span>
                                Input your zip code: <input type="text" id="myText" placeholder="Enter your zipcode">
                                <button type="submit">Submit</button>
                                <p id="zipcode"></p>
                                <!-- <p>Some text in the Modal..</p> -->
                            </form>
                        </div>

                    </div>
                </div>
            <div class="image">
                <img src="static/project.png"
            </div>
            
            </div>
            
        </div>
    </section>

<script>
    // Here the value is stored in new variable x 
    document.querySelector("form").onsubmit = function(e) {
        e.preventDefault();
        var x = document.getElementById("myText").value;
        let formData = new FormData();
        formData.append("zipcode", x);
        fetch("/process_zip", {
        method: "POST",
        body: formData
        })
        .then(function(response) {
          // This right here is the response we will receive before we convert
          // it over to readable JSON
          console.log("Response turning to readable JSON", response);
        //   return response.json();
          return response
        })
        .then(function(response) {
          // Don't worry if this says "false", it just returns that when the user already exists from flasks end
          // Once it reaches here, the async is already successful
        //   console.log("Successful async: ", JSON.stringify(response));
          console.log(response)
          window.location.replace("/hom/crime_scene_1")
        })
        .catch(function(error) {
          console.log("Error in async", error);
        });
        document.getElementById("zipcode").innerHTML = "Success! Your inputted zipcode is " + x + ".";
    }

    // Get the modal
    var modal = document.getElementById("myModal");

    // Get the button that opens the modal
    var btn = document.getElementById("myBtn");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    // When the user clicks the button, open the modal 
    btn.onclick = function() {
    modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function() {
    modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
    }
</script>
</body>
</html>
