<!DOCTYPE html>
<html>
<head>
    <title>
        Interrogation - Investigators Onsite
    </title>
    <style>
        .game-screen {
            margin: 10%;
            padding: 0%;
            background-image: url('static/random_interrogate.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh; /* This makes the background image take up the full viewport height */
        }
    </style>
</head>
<body>
    <div class="game-screen">

    </div>
</body>
</html>