<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book</title>
    <link rel="stylesheet" href="{{url_for('static', filename='level_select.css')}}" />
    <script src="{{url_for('static', filename='level_select.js')}}" defer></script>
    <script
      src="https://kit.fontawesome.com/b0f29e9bfe.js"
      crossorigin="anonymous"
    ></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=IBM+Plex+Mono:wght@600&family=Mynerve&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Previous Button -->
    <button id="prev-btn">
      <i class="fas fa-arrow-circle-left"></i>
    </button>

    <!-- Book -->
    <div id="book" class="book">
      <!-- Paper 1 -->
      <div id="p1" class="paper">
        <div class="front">
          <div id="f1" class="front-content">
            <h1>Select Your McCrime</h1>
            <img src="declasses.png" width="300px" height="150px" />
            <p>Hellow why is this content on one line</p>
          </div>
        </div>
        <div class="back">
          <div id="b1" class="back-content">
            <h1>The Roof Man</h1>
            <img src="hamburger.jpeg" width="300px" height="150px" />
            <p>
              Desc: “The Roof Man” (he would break into mcdonalds not from the
              doorway but from the root by making a hole) He would do this
              before the mcdonals opens and wait for the employees He would then
              take them hostage and take the manager to the safe and take the
              money He would then instruct everyone to get into the freezer and
              ask them if they would want there jackets
            </p>
          </div>
        </div>
      </div>
      <!-- Paper 2 -->
      <div id="p2" class="paper">
        <div class="front">
          <div id="f2" class="front-content">
            <h1>Look Deeper for Clues</h1>
            <button
              class="button-2"
              type="button"
              onclick="location.href='google.com'"
              style="--clr: #ca3e47"
            >
              <img src="investiigate.png" width="200px" height="200px" />
              <br />
              Go to McCrime
            </button>
            <p>
              Suspect(s): <br />
              Jeffery Manchester <br />
              <br />

              Location(s): <br />
              Mcdonalds, <br />
              Toys R Us
            </p>
          </div>
        </div>
        <div class="back">
          <div id="b2" class="back-content">
            <h1>Murder of Betsy Faria</h1>
            <img src="betsy.jpg" width="300px" height="150px" />
            <p>Desc: Summary TBD</p>
          </div>
        </div>
      </div>
      <!-- Paper 3 -->
      <div id="p3" class="paper">
        <div class="front">
          <div id="f3" class="front-content">
            <h1>Look Deeper for Clues</h1>
            <button
              class="button-2"
              type="button"
              onclick="location.href='google.com'"
              style="--clr: #ca3e47"
            >
              <img src="investiigate.png" width="200px" height="200px" />
              <br />
              Go to McCrime
            </button>
            <p>
              Suspect(s): <br />
              Pam Hupp <br />
              <br />

              Location(s): <br />
              Troy, Missouri <br />
            </p>
          </div>
        </div>
        <div class="back">
          <div id="b3" class="back-content">
            <h1>The Carbanak Cyber Heist</h1>
            <img src="../static/cyber-crime.jpg" width="300px" height="150px" />
            <p>
              Desc: The Carbanak bank heist was a massive cybercrime scheme that
              struck multiple banks globally. It involved hackers deploying
              sophisticated malware to breach the banks' systems and acquire
              valuable data, such as customer details and login credentials. The
              stolen information was utilized for fraudulent
              transactions, resulting in the theft of hundreds of millions of
              dollars
            </p>
          </div>
        </div>
      </div>
      <!-- Paper 4 -->
      <div id="p4" class="paper">
        <div class="front">
          <div id="f4" class="front-content">
            <h1>Look Deeper for Clues</h1>
            <button
              class="button-2"
              type="button"
              onclick="location.href='google.com'"
              style="--clr: #ca3e47"
            >
              <img src="investiigate.png" width="200px" height="200px" />
              <br />
              Go to McCrime
            </button>
            <p>
              Suspect(s): <br />
              hacker group - Carbanak <br />
              <br />

              Location(s): <br />
              Digital <br />
            </p>
          </div>
        </div>
        <div class="back">
          <div id="b4" class="back-content">
            <h1>Central Park Five</h1>
            <img src="centralpark5.jpg" width="300px" height="170px" />
            <p>Desc: Summary TBD</p>
          </div>
        </div>
      </div>
      <!-- Paper 5 -->
      <div id="p5" class="paper">
        <div class="front">
          <div id="f5" class="front-content">
            <h1>Look Deeper for Clues</h1>
            <button
              class="button-2"
              type="button"
              onclick="location.href='google.com'"
              style="--clr: #ca3e47"
            >
              <img src="investiigate.png" width="200px" height="200px" />
              <br />
              Go to McCrime
            </button>
            <p>
              Suspect(s): <br />
              Richardson McCray, Antron McCray, Yusef Salaam, Raymond Santana
              Jr., and Korey Wise <br />
              <br />

              Location(s): <br />
              New York, New York <br />
            </p>
          </div>
        </div>
        <div class="back">
          <div id="b5" class="back-content">
            <h1>Murder of Betsy Faria</h1>
            <img src="betsy.jpg" width="300px" height="150px" />
            <p>Desc: Summary TBD</p>
          </div>
        </div>
      </div>
      <!-- Paper 6 -->
      <div id="p6" class="paper">
        <div class="front">
          <div id="f6" class="front-content">
            <h1>Look Deeper for Clues</h1>
            <button
              class="button-2"
              type="button"
              onclick="location.href='google.com'"
              style="--clr: #ca3e47"
            >
              <img src="investiigate.png" width="200px" height="200px" />
              <br />
              Go to McCrime
            </button>
            <p>
              Suspect(s): <br />
              Pam Hupp <br />
              <br />

              Location(s): <br />
              Troy, Missouri <br />
            </p>
          </div>
        </div>
        <div class="back">
          <div id="b6" class="back-content">
            <h1>END OF FOLDER</h1>
          </div>
        </div>
      </div>
    </div>

    <!-- Next Button -->
    <button id="next-btn">
      <i class="fas fa-arrow-circle-right"></i>
    </button>
  </body>
</html>
